body {
  padding: 10px;
  font-family: 'Raleway', sans-serif;
}

#color-button {
  border-radius: 5px;
  width: 40px;
  height: 40px;
  color:transparent;
  text-shadow:none ;
  border:none ;
  box-shadow:none;
  margin: 5px;
}

#color-button:focus {outline:0;}

.remove {
  margin-top: 10px;
  margin: 5px;
  background-color: white;
  border-radius: 5px;
  border-color: #F8F8FF;
  text-shadow:none;
  border-style: solid;
  box-shadow:none;
  width: 95px;
  height: 40px;
}

